/*personal information*/
.Personalinfo{
    display: flex;
    width: 235px;
    height: 581px;
    padding: 0px 3px 1.673px 3px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 11.129px;
    flex-shrink: 0;
    

}

.Profile{
    display: flex;
    width: 229px;
    height: 363.443px;
    padding: 16.694px 28.171px 36.866px 14.955px;
    flex-direction: column;
    align-items: center;
    gap: 12.475px;
    flex-shrink: 0;
    background-color: #3366CC;
    border-radius: 5.217px;

}

.Quote{
    display: flex;
    height: 92.625px;
    padding: 11.129px;
    width: 229px;
    align-items: flex-start;
    gap: 8.347px;
    flex-shrink: 0;
    border-radius: 5.217px;
    background-color: #36C;
}

.Personality{
    display: flex;
    width: 229px;
    height: 101px;
    padding: 11.129px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8.347px;
    border-radius: 5.217px;
    background: #36C;
}

/*Post function*/
.Postbackground{
    width: 901px;
    height: 264px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
}
